<%- include('partials/header.ejs') %>

    <body>
        <%- include('partials/navbar.ejs') %>
            <div class="container">
                <div class="card" id="formulario-pergunta">
                    <div class="card-header">

                        <h1>Realizar Pergunta</h1>
                    </div>

                    <div class="card-body">
                        <form action="/salvarpergunta" method="POST">
                            <label for="">Título</label>
                            <input type="text" class="form-control"id="" name="titulo" required minlength="5"><br>

                            <label for="">Descrição</label>
                            <textarea class="form-control" name="descricao" id="" required minlength="5"></textarea><br>

                            <button class="btn btn-primary">Perguntar</button>
                        </form>

                    </div>
                </div>
            </div>
    </body>

    </html>
    <%- include("partials/footer.ejs"); %>