<nav class="navbar navbar-light bg-primary">
    <a href="/" class='navbar-brand'>
        <img src="/img/guia.png" alt="logo 'Guia do Programador'">
    </a>

    <a href="/" class="navbar-brand">Home</a>
    <a href="/perguntar" class="navbar-brand">Criar Perguntas</a>
</nav>